#grid{
    width: 500px;
    height: 500px;
    display: grid;
    gap: 10px;
    grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
    grid-template-rows: 124px 124px 124px 124px 124px;
    /* grid-template-areas: 
    "s s s s"
    "a b c c"
    "a d d e"
    "a f g h"
    "a i i i"
    ; */

}

.eg1{
    background-color: green;
	grid-column: span 4;
    /* grid-area: s; */
	color: white;
	padding: 5px;
	font-size: 20px;
}

.eg2{
    background-color: green;
    /* grid-area: a; */
	grid-row: span 4;
	color: white;
	padding: 5px;
	font-size: 20px;
}

.eg3{
    background-color:green;
    /* grid-area: b; */
	grid-column: span 1;
	color: white;
	padding: 5px;
	font-size: 20px;
}

.eg4{
    background-color: green;
    /* grid-area: c; */
	grid-column: span 2;
	color: white;
	padding: 5px;
	font-size: 20px;
}

.eg5{
    background-color: green;
    /* grid-area: d; */
	grid-column: span 2;
	color: white;
	padding: 5px;
	font-size: 20px;
}

.eg6{
    background-color:green;
    /* grid-area: e; */
	grid-column: span 1;
	color: white;
	padding: 5px;
	font-size: 20px;
}

.eg7{
    background-color: green;
    /* grid-area: f; */
	grid-column: span 1;
	color: white;
	padding: 5px;
	font-size: 20px;
}
.eg8{
    background-color: green;
    /* grid-area: g; */
	grid-column: span 1;
	color: white;
	padding: 5px;
	font-size: 20px;
}
.eg9{
    background-color: green;
    /* grid-area: h; */
	grid-column: span 1;
	color: white;
	padding: 5px;
	font-size: 20px;
}
.eg10{
    background-color: green;
    /* grid-area: i; */
	grid-column: span 3; 
	color: white;
	padding: 5px;
	font-size: 20px;
}